<%- include ../layouts/cabeceraEditar.ejs %>



    <section id="hero">
        <div class="hero-container">
            <div class="wow fadeIn">
                <div class="hero-logo">
                    <img class="" src="/img/casa.webp" alt="ProOnliPc" width="200">
                </div>
                <h1>edicion de inmueble</h1>
                <h2>Ya sea <span class="rotating">Casa, Departamento </span></h2>
            </div>
        </div>
    </section>

    <!--==========================
  Formulario
  ============================-->

    <section id="about">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">

                    <form method="post" action="../actualizar/" enctype="multipart/form-data">
                        <!--Envia la informacion a casas y se recepciona el route/casas-->
                        <div>
                            <h1> Informacion del inmueble : <%=casa.id%>
                            </h1>
                        </div>
                        <!-- b-form-group -->
                        <div class="form-group">
                            <input id="my-input" class="form-control-file" value="<%=casa.id%>" type="hidden" name="id">
                        </div>

                        <div class="form-group">
                            <label for="my-input">Municipio:</label>
                            <input id="my-input" class="form-control" value="<%=casa.municipio%>" type="text"
                                name="municipio">
                        </div>
                        <!--D-->

                        <div class="form-group">
                            <label for="my-input">Calle:</label>
                            <input id="my-input" class="form-control" value="<%=casa.calle%>" type="text" name="calle">
                        </div>
                        <div class="form-group">
                            <label for="my-input">Codigo Postal:</label>
                            <input id="my-input" class="form-control" type="number" value="<%=casa.codigo_postal%>"
                                name="codigo_postal">
                        </div>
                        <div class="form-group">
                            <label for="my-input">Numero Exterior:</label>
                            <input id="my-input" class="form-control" type="number" value="<%=casa.numero_exterior%>"
                                name="numero_exterior">
                        </div>
                        <div class="form-group">
                            <label for="my-input">Dimencionde del inmueble en m²: (metros cuadrados)</label>
                            <input id="my-input" class="form-control" type="text" value="<%=casa.dimenciones%>"
                                name="dimenciones">
                        </div>
                        <div class="form-group">
                            <label for="my-input">Cantidad de Baños</label>
                            <input id="my-input" class="form-control" type="number" value="<%=casa.c_banos%>"
                                name="c_banos">
                        </div>
                        <div class="form-group">
                            <label for="my-input">Cantidad de Recamaras:</label>
                            <input id="my-input" class="form-control" type="number" value="<%=casa.c_recamaras%>"
                                name="c_recamaras">
                        </div>
                        <div class="form-group">
                            <label for="my-select">Amueblado:   0)No     1)Si</label>
                            <input id="my-select" class="form-control" name="amueblado" value="<%=casa.amueblado%> ">
                               
                            </input>
                        </div>
                        <div class="form-group">
                            <label for="my-select">Internet  0)No     1)Si</label>
                            <input id="my-select" class="form-control" name="internet" value="<%=casa.internet%> " >
                                
                            </input>
                            
                            <div class="form-group">
                                <label for="my-select">Aire Acondicionado: 0)no  1)si</label>
                                <input id="my-select" class="form-control" value="<%=casa.aire_acondicionado%> " name="aire_acondicionado">
                                    
                                </input>
                            </div>
                            <div class="form-group">
                                <label for="my-input">Precio (mensual):</label>
                                <input id="my-input" class="form-control" type="number" value="<%=casa.precio%>"
                                    name="precio">
                            </div>
                            <div class="form-group">
                                <label for="my-input">Descripción del inmueble:</label>
                                <input id="my-input" class="form-control" type="text"
                                    value="<%=casa.descripcion_general%>" name="descripcion_general">
                            </div>
                            <div class="form-group">
                                <label for="my-select">Tipo de inmueble:  (Departamento o cas)a</label>
                                <input id="my-select" class="form-control" name="tipo_depa0_casa1" value="<%=casa.tipo_depa0_casa1%>">
                            </input>
                            </div>
                            <div class="form-group">
                                <input id="my-input" class="form-control" type="hidden" value="<%=casa.id_propietario%>"
                                    name="id_propietario">
                            </div>

                            <div class="form-group">
                                <label for="my-select">Estado del inmueble: 0) disponible 1)ocupado</label>
                                <input id="my-select" class="form-control" name="disponible1_No0" value="<%=casa.disponible1_No0%>">
                                
                                  </input>
                            </div>
                            <!-- b-form-file -->

                            <div class="form-group">Imagen</label>
                                <img class="img-thumbnail" src="../../images/<%=casa.img%>" width="100" alt="">
                                <input id="my-input" class="form-control-file" type="file" name="archivo">
                            </div>

                            <!-- b-btn --><br>
                            <center> <button class="button button-secondary button-pipaluk" type="submit">Guardar</button> </center><br>
                    </form>
                    <center>
                        
                 <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <form id="formulario" class="form-inline" method="get" action="/users/verificar/<%=user.correo%>,<%=user.contrasena%>">
                <button style="background-color:rgb(204, 45, 45)  ;" class="btn btn-success" type="submit" >
                <a style="color:rgb(240, 233, 233)  ;">Cancelar </a> </button> 
                </form>
                </div>
                    </center>
                    
    </section>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    
    <%- include ../layouts/pieEditar.ejs %>