<%- include ../layouts/cabecera.ejs %>
<!-- //SE NECESITA PARA USERS -->

    <body >
      

        <div id="preloader"></div>

        <section id="hero">
            <div class="hero-container">
                
                    <!--Envia la informacion a user y se recepciona el route/casas-->
                   
                    <!-- datos de inicio de session  -->
                   <!-- <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <form class="form-inline" method="post" action="/users/esElverificar/">
                          <button class="btn btn-warning" type="submit">Borrar users</button>
                        </form>
                      </div>
                      -->  
                      <div class="form-group">
                        <label style="color:#ffffff" for="my-input"> electronico</label>
                        <input id="correo" class="form-control-file" type="text" name="correo" placeholder="Damo@example.com">
                    </div>
                    <div class="form-group">
                        <label style="color:#ffffff" for="my-input">contraseña</label>
                        <input id="contrasena" class="form-control-file" type="password"  name="contrasena">
                    </div>
                    <button class="btn btn-warning" onclick="Verificar()" >Verificar existencia </button>
                    
                      <div id="H"></div>
                      </div>
                      <script>
                        
                        function Verificar(){
                            let correo=document.getElementById('correo').value;
                            let contrasena=document.getElementById('contrasena').value;
                            document.getElementById('H').innerHTML=''+
                            `<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <form id="formulario" class="form-inline"     method="get" action="/users/verificar/`+
                        correo+','+contrasena+
                        `">
                      <button class="btn btn-warning" type="submit" ><h1>LOGIN</h1> </button>
                           
                        </form>`;
                        }
                      </script>
                      <!-- <script>

                        $(document).ready(function() {
                    
                            $('#formulario').submit(function(e) {
                                e.preventDefault();
                                let correo=document.getElementById('correo').value+'';
                                let contrasena=document.getElementById('contrasena').value+'';

                                $.ajax({
                                    type: "POST",
                                    url: 'http://localhost:3000/users/verificar/'+correo+','+contrasena,
                                    headers: {'Authorization': 'Bearer xxxxxxxxxxxxx'},
                                    data: $(this).serialize(),
                                    success: function(response)
                                    {
                                     const ruta = JSON.parse(response);
                                      console.log(ruta);
                                      window.location.href = ruta.redirect;
                                   },
                                   error:function(error){
                                    console.log(e.message);
                                   }
                               });
                             });
                        });
                    </script> -->
                   
                    <% for( let i = 0; i < UnicoDatosUsers1.length; i++ ) { %>
                      
                      
                        <p style="color: red;"><%=UnicoDatosUsers1[i].id%>==
                            <%=UnicoDatosUsers1[i].nombre%>++<%=UnicoDatosUsers1[i].apellido%>
                            ==<%=UnicoDatosUsers1[i].edad%>==<%=UnicoDatosUsers1[i].correo%>
                        ==<%=UnicoDatosUsers1[i].contrasena%></p>
                        <% } %>
                  

                    
        </section>
       
       
      

        src="../lib/jquery/jquery.min.js"
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <%- include ../layouts/pie.ejs %>