<%- include ../layouts/cabecera.ejs %>
<!-- //SE NECESITA PARA USERS -->
    <body >
        <script src="../../prueba/validacionDatos.js"> </script>
        <div id="preloader"></div>

        <section id="hero">
            <div class="hero-container">
                
                    <!--Envia la informacion a user y se recepciona el route/casas-->

                    <!-- datos de inicio de session  -->
                    <h1>inicio de sessi칩n </h1>
                    <br>
                    <br>
                    <div class="form-group">
                        <label style="color:#ffffff" for="my-input"> electronico</label>
                        <input id="correo" class="form-control-file" type="text" name="correo" value="admin"
                            placeholder="Damo@example.com">
                    </div>
                    <div class="form-group">
                        <label style="color:#ffffff" for="my-input">contrase침a</label>
                        <input id="contrasena" class="form-control-file" type="password" value="admin" name="contrase침a">
                    </div>
                    <!-- b-btns -->
                    <%  %> 
                    <% for( let i = 0; i < UnicoDatosUsers1.length; i++ ) { %>
                       
                        <p style="color: red;"><%=UnicoDatosUsers1[i].id%>==
                            <%=UnicoDatosUsers1[i].nombre%>++<%=UnicoDatosUsers1[i].apellido%>
                            ==<%=UnicoDatosUsers1[i].edad%>==<%=UnicoDatosUsers1[i].correo%>
                        ==<%=UnicoDatosUsers1[i].contrasena%></p>
                        
                    <% } %> 
                    <br>
                    <center>
                        <button onclick="prueba()">Comprobar datos</button>
                        <div id="impresion">

                        </div>
                        <a class="btn btn-primary" href="../casas">Cancelar </a>
                    </center>
              
            </div>
        </section>
        <script>
            function funcionprueba(UnicoDatosUsers1){

              let correo= document.getElementById("correo").value;
              let contrasena= document.getElementById("contrasena").value;
              alert("lo que sea "+UnicoDatosUsers1)
              for(let i = 0; i < UnicoDatosUsers1.length; i++){
                alert("for")
                if(UnicoDatosUsers1[i].correo==correo){
                    alert("Correo OK")
                    if(UnicoDatosUsers1[i].contrasena==contrasena){
                        alert("Contrase침a")
                        document.getElementById("impresion").innerHTML=""+
                    '<a class="btn btn-primary" href="../casas">Cancelar </a>';
                    }
                    alert("segundo if")
                    // alert("Holaaaaaaa")
                    
                    // window.location.href = "https://professor-falken.com";
                    // res.render("/usuarioAdmin/ver")
                }
      
              }
              alert("No POSIBLE")
                
        } 
      
        </script>
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <%- include ../layouts/pie.ejs %>