<%- include ../layouts/cabecera.ejs %>
<!-- //SE NECESITA PARA USERS -->
    <body >
        <div id="preloader"></div>

        <section id="hero">
            <div class="hero-container">
                
                    <!--Envia la informacion a user y se recepciona el route/casas-->

                    <!-- datos de inicio de session  -->
                    <h1>inicio de sessión </h1>
                    <br>
                    <br>
                    <div class="form-group">
                        <label style="color:#ffffff" for="my-input"> electronico</label>
                        <input id="correo" class="form-control-file" type="text" name="correo" value="admin"
                            placeholder="Damo@example.com">
                    </div>
                    <div class="form-group">
                        <label style="color:#ffffff" for="my-input">contraseña</label>
                        <input id="contrasena" class="form-control-file" type="password" value="admin" name="contraseña">
                    </div>
                   
                    <%  %> 
                    <% for( let i = 0; i < UnicoDatosUsers1.length; i++ ) { %>
                       <% if (UnicoDatosUsers1[i].correo=='admin') { %>
                        
                      
                        <p style="color: red;"><%=UnicoDatosUsers1[i].id%>==
                            <%=UnicoDatosUsers1[i].nombre%>++<%=UnicoDatosUsers1[i].apellido%>
                            ==<%=UnicoDatosUsers1[i].edad%>==<%=UnicoDatosUsers1[i].correo%>
                        ==<%=UnicoDatosUsers1[i].contrasena%></p>
                        <% } %>
                    <% } %> 
                    
                   
                    <br>
                    <center>
                        <button onclick="DOS()">DOS</button>
                        <button onclick="validacionDatospublic()">validacionDatospublic</button>
                        <button onclick="funcionEnEjs()">funcionEnEjs</button>
                        <button onclick="funcionEnEjs2()">funcionEnEjs2</button>
                        <div id="impresion">
                                <h1>aqui boton</h1>
                        </div>
                        <a href="/usuarioAdmin/index">users menu</a>
                        <a class="btn btn-primary" href="../casas">Cancelar </a>
                    </center>
              
            </div>
        </section>
        <script >
            function funcionEnEjs() {
                alert('consola  prueba  funcionDeValidacion 123')
                console.log('consola  prueba  funcionDeValidacion 123');
                }
        </script>
        <script>
           
            // var borrar = require("fs");
            function funcionEnEjs2() {
                
            alert('consola  prueba  funcionDeValidacion 123')
            console.log('consola  prueba  funcionDeValidacion 123');
            }

        </script>
        <script src="../js/validacionDatos.js"></script>
        <script src="/usuarioAdmin/validacionDatos.js"></script>

        src="../lib/jquery/jquery.min.js"
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <%- include ../layouts/pie.ejs %>