<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>No verificado </title>
</head>

<body>
  <h1>NO VERIFICADO PERO SI REGISTRADO: VENTANA</h1>
  <h1>dataparaNoVerificadoUser=nombre= <%= dataparaNoVerificadoUser[0].nombre %> </h1>
  <h1>dataparaNoVerificadoUser=correo= <%= dataparaNoVerificadoUser[0].correo %> </h1>
  <h1>dataparaNoVerificadoUser=contrasena= <%= dataparaNoVerificadoUser[0].contrasena %> </h1>
  <h1>title = <%=title  %> </h1>
  <!--<h1>title2 = </h1>-->
  <h1>calle; <%= dataInmueblesRegistrados.length  %> </h1>
  <% for( let i = 0; i < dataInmueblesRegistrados.length; i++ ) { %>
  <h1>calle; 23 <%= dataInmueblesRegistrados[i].calle%> </h1>
  <% } %>

</body>

</html>