<%- include ../layouts/cabeceraUser.ejs %>
<div id="preloader"></div>

<!--==========================
  Hero Section
  ============================-->

<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      <div class="hero-logo">
        <img class="" src="/img/HouseByDamo.png" alt="ProOnliPc">
      </div>

      <h1>Bienvenido A House By Damo</h1>
      <h2>Nosotros creamos tus <span class="rotating">comodidades, tiempos, experiencias </span></h2>
      <div class="actions">
        <a href="#about" class="btn-get-started">Inicia</a>
        <a href="#services" class="btn-services">Nuestros servicios</a>
      </div>
    </div>
  </div>
</section>

<!--==========================
  Sección de encabezado
  ============================-->
<section id="prueba">

  <div id="impresion"></div>
  <h1>HEEREEEEE//// <%= title %> </h1>
  <h1>dataParaVerificadoUser//// <%= dataParaVerificadoUser %> </h1>
  <h1>dataParaVerificadoUser nombre= <%= dataParaVerificadoUser[0].nombre%> </h1>
  <h1>dataParaVerificadoUser id= <%= dataParaVerificadoUser[0].id%>=== <%= dataInmueblesRegistrados[0].id_propietario %> </h1>
  <h1>length== <%= dataInmueblesRegistrados.length  %> </h1>

  <% for( let i = 0; i < dataInmueblesRegistrados.length; i++ ) { %>
  <% if (dataParaVerificadoUser[0].id==parseInt(dataInmueblesRegistrados[i].id_propietario)) { %>
  <!--Se puede comprobar diponibilidad ademas -->
  <p>iterador i= <%= i %> ID=;; <%= dataInmueblesRegistrados[i].id %>
    ID PROPIETARIO ;; <%= dataInmueblesRegistrados[i].id_propietario %>
    = DISPONIBILIDAD;; <%= dataInmueblesRegistrados[i].disponible1_No0 %>
    IMAGEN;; <%= dataInmueblesRegistrados[i].img %> </p>
  <% } %>
  <% } %>
  <button type="button"><a href="/casas/crear">CREA UN NUEVO INMUEBLE </a></button>
  <h1>Notificaciones dataNotifiUser</h1>
  <p>en vez de imprirlo asi se puede imprir la casa completa que fue solisitada y mas datos de usuario que envia la notificasion</p>
  <% let num=0; %>
  <% for( let i = 0; i < dataNotifiUser.length; i++ ) { %>
  <% if (dataParaVerificadoUser[0].id==dataNotifiUser[i].id_propietario) { %>


  <p>
    id noti= <%= dataNotifiUser[i].id %> <br>
    id_user que envio la notificasion = <%= dataNotifiUser[i].id_user %> <br>
    mensaje de user= <%= dataNotifiUser[i].mensaje %> <br>
    id_propietario <%= dataNotifiUser[i].id_propietario%> <br>
    id_inmueble= <%= dataNotifiUser[i].id_inmueble %> <br>
  </p>
  <% }else{%>
    <% if (num==0) { %>
    <% num=1 %>
    <h1 style="color:red  ;">No tienes mas notificasiones por el momento</h1>
    <% } %>
  <%} %>
  <% } %>

</section>



<!--==========================
  Contact Section
  ============================-->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<%- include ../layouts/pie.ejs %>