<% if (dbUserQ[0].admin==1) { %>
<!--SI ES ADMIN UNA CABECERA ESPECIAL DE LO CONTRARIO UNA CABECERA NORMAL -->
<%- include ../layouts/cabeceraUser.ejs %>

<% } else{%>
<%- include ../layouts/cabeceraIF.ejs %>
<% } %>
<div id="preloader"></div>

<!--==========================
    Hero Section
    ============================-->

<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      <div class="hero-logo">
        <img class="" src="/img/HouseByDamo.png" alt="ProOnliPc">
      </div>

      <h1>Bienvenido <%= dbUserQ[0].nombre%> <%= dbUserQ[0].apellido%></h1>
      <h2>Nosotros creamos tus <span class="rotating">comodidades, tiempos, experiencias </span></h2>
      <div class="actions">
        <a href="#portfolio" class="btn-get-started">Inicia</a>
        <a href="/users/verificar/<%=dbUserQ[0].correo%>,<%=dbUserQ[0].contrasena%>" class="btn-get-started">Regargar</a>
        
        <!--<a href="#services" class="btn-services">Nuestros servicios</a>-->
      </div>
    </div>
  </div>
</section>

<!--==========================
    Sección de encabezado
    ============================-->
  
<!--favoritos-->
<% if (dbUserQ[0].admin==0) { %>
 

<section id="services">
  <div class="container wow fadeInUp">

    <center>
      <h1>Mis favoritos </h1>
    </center>
    <div class="section-title-divider"></div>
    <% for( let i = 0; i < dbFavUs.length; i++ ) { %>
      
    <% if (dbFavUs[i].id_user===dbUserQ[0].id) { %>

    <% for( let iterator = 0; iterator < dbInmuebles.length; iterator++ ) { %>
    <% if (dbInmuebles[iterator].id==dbFavUs[i].id_casa) { %>


    <p>Inmueble en <%=dbInmuebles[iterator].municipio %> con <br>
      precio de <%=dbInmuebles[iterator].precio %> <br>
      <!--ID d: <%=dbFavUs[i].id  %> >
                ID USER: <%=dbFavUs[i].id_user  %> >-->
      Numero de registro: <%=dbFavUs[i].id_casa %>
    </p>
          <!--==========================
            BUTTON BORRAR FAVORITO 
            ============================-->
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <form class="form-inline" method="post" action="/users/deleteFav/<%=dbUserQ[0].id%>,<%=dbFavUs[i].id%>">
                <button class="btn btn-warning" type="submit">Borrar FAVORITO <%=dbUserQ[0].id%>,<%=dbFavUs[i].id%></button>
              </form>
            </div>
    <img src='/images/<%=dbInmuebles[iterator].img %>' width="200px" alt="">
    <br>

    <% } %>


    <% } %>

    <% } %>

    <% } %>

  </div>
</section>
<% } %>
<!--notificaciones-->


<% if (dbUserQ[0].admin==1) { %>
  <!--carrusel -->
<section id="testimonials">
  <center>  <h1>notificaciones</h1>  </center>
  <div class="container wow fadeInUp">
    <center>
      <section>
        <div class="container">
    
    
          <input type="radio" name="slider" class="d-none" id="s1" checked>
          <input type="radio" name="slider" class="d-none" id="s2">
          <input type="radio" name="slider" class="d-none" id="s3">
          <input type="radio" name="slider" class="d-none" id="s4">
          <input type="radio" name="slider" class="d-none" id="s5">
    
    
    
    
      
          <div class="cards">
    
    
            <% let num1=0; %>
            <% for( let i = 0; i < dbNotifi.length; i++ ) { %>
            <% if (dbUserQ[0].id==dbNotifi[i].id_propietario) { %>
            <% for( let index = 0; index < dbInmuebles.length; index++ ) { %>
            <% if (dbInmuebles[index].id=== dbNotifi[i].id_inmueble) { %>
              <label for="s<%=index%>" id="slide<%=index%>">
                <div class="card">
                  <div class="image">
                    <img src='/images/<%=dbInmuebles[index].img %>' alt="">
                    <div class="dots">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                  <div class="infos">
                    <span class="name">Hola <%=dbUserQ[0].nombre %></span>
                    <span class="lorem">El usuario con id: <%= dbNotifi[i].id_user %> le
                      interesa tu inmueble
                       ubicado en: <%= dbInmuebles[index].municipio%> 
                       registro: <%= dbInmuebles[index].id%> 
                       precio mensual: <%= dbInmuebles[index].precio%> 
                      Puedes ponerte en contacto con el usuario interesado con el siguiente numero Telefonico: <%= dbNotifi[i].mensaje %></span>
                  </div>
                  <div class="socials">
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                      <form class="form-inline" method="post" action="/users/deleteNofi/<%=dbUserQ[0].id%>,<%=dbNotifi[i].id%>">
                        <button class="btn-contact" type="submit">Borrar</button>
                      </form>
                    </div>
                  </div>
                </div>
              </label>
      
              
    
            <% } %>
    
            <% } %>
    
    
    
            <% }else{%>
            <% if (num1==0) { %>
            <% num1=1 %>
            <h1 class="hola<%+num1%>"><%num1%></h1>
            <% } %>
            <%} %>
            <% } %>
    
    
    
            
      
           
          </div>
      
        </div>
      </section>
    </center>
    


  </div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br>

<!--////////////////////////////////////-->
 

  <% } %>
<!-- impresion inmuebles-->

<section id="portfolio">
  <div class="container wow fadeInUp">
    <% if (dbUserQ[0].admin==0) { %>
      <h3 class="section-title"> Inmuebles</h3>
     
    <% }else{ %>
      <h3 class="section-title">Mis Inmuebles</h3>
      <% } %>
    <div class="section-title-divider"></div>

    <div class="row">
      <% for( let i=0; i < dbInmuebles.length; i++ ) { %>
      <!--==========================
            Sección Si admin inprimir Solo Mis Inmuebles 
            ============================-->
      <% if (dbUserQ[0].id==dbInmuebles[i].id_propietario) { %>
      <div class="col-md-3">
        <a class="portfolio-item" style="background-image: url('/images/<%=dbInmuebles[i].img %>');">
          <div class="details" style="color:rgb(0, 2, 2);">
            <br>
            <b>Id propietario:<%= dbInmuebles[i].id_propietario %>
            </b>
            <br>
            <td>Precio mensual:$<%=dbInmuebles[i].precio%>
            </td>
            <br>
            <td>Dimenciones:<%=dbInmuebles[i].dimenciones%>m²
            </td>
            <br>
            <td>Disponibilidad:<%= dbInmuebles[i].disponible1_No0 %>
            </td>
            <br>
              <!--==========================
            BUTTON EDTITAR 
            ============================-->
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <form class="form-inline" method="get" action="/casas/editar/<%=dbInmuebles[i].id%>,<%=dbUserQ[0].id%>">
                <button class="btn btn-danger" type="submit">Editar /casas/editar/<%=dbInmuebles[i].id%>,<%=dbUserQ[0].id%></button>
              </form>
            </div>
            <!--==========================
            BUTTON BORRAR 
            ============================-->
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <form class="form-inline" method="post" action="/casas/eliminar/<%=dbInmuebles[i].id%>">
                <button class="btn btn-warning" type="submit">Borrar</button>
              </form>
            </div>


          </div>

        </a>
      </div>
      <% } %>

                    <!--==========================
                    Sección Si NO admin inprimir todos los Inmuebles disponibles 
                    ============================-->
      <% if (dbUserQ[0].admin==0) { %>
      <% if (dbUserQ[0].id!=dbInmuebles[i].id_propietario) { %>
      <div class="col-md-3">
        <a class="portfolio-item" style="background-image: url('/images/<%=dbInmuebles[i].img %>');">
          <div class="details" style="color:rgb(0, 2, 2);">
            <br>
            <b>Id propietario:<%= dbInmuebles[i].id_propietario %>
            </b>
            <br>
            <td>Precio mensual:$<%=dbInmuebles[i].precio%>
            </td>
            <br>
            <td>Dimenciones:<%=dbInmuebles[i].dimenciones%>m²
            </td>
            <br>
            <td>Disponibilidad:<%= dbInmuebles[i].disponible1_No0 %>
            </td>
            <br>
          <!--==========================
            BUTTON FAVORITOS 
            ============================--> 
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <form class="form-inline" method="post" action="/users/favoritos/<%=dbUserQ[0].id%>,<%=dbInmuebles[i].id%>">
                <button class="meInteresa" type="submit"><img src="/img/corazon.png" alt="Agregar a mis favoritos"></button>
                 </form>
            </div>
            <!--==========================
            BUTTON Interezado 
            ============================--> 
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <form class="form-inline" method="post"
               action="/users/notificaciones/<%=dbUserQ[0].id%>,<%=dbUserQ[0].numero_tel%>,<%=dbInmuebles[i].id_propietario%>,<%=dbInmuebles[i].id%>">
                
                <button class="Pensando" type="submit">
                  <img src="/img/meinteresa.png" alt="INTERESADO"><br><%=dbUserQ[0].id%>,<%=dbUserQ[0].numero_tel%>,
                  <%=dbInmuebles[i].id_propietario%>,<%=dbInmuebles[i].id%>
                </button>
              </form>
            </div>


          </div>
        </a>
        
      </div>
      <% } %>
      <!--IF-->
      <% } %>
      <!--IF-->
      <% } %>

    </div>
  </div>
</section>

<!--impresion de boton crear segun user-->


<section id="subscribe">
  <div class="container wow fadeInUp">
    <% if (dbUserQ[0].admin==1) { %>
    <!--INPORTANTE -->
    <center>
      <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <h1 style="color:rgb(255, 255, 255);">registra un nuevo inmueble </h1>
        <form class="form-inline" method="get" action="/casas/crear/<%=dbUserQ[0].id%>">
          <button class="btn btn-danger" type="submit">
            <h5>Crear Un Nuevo Inmueble <%=dbUserQ[0].nombre%></h5>
          </button>
        </form><br>
        <% }else{ %>
        <h2 style="color:rgb(255, 255, 255);"> La opcion mas clara House By Damo </h2>

        <% } %>
      </div>
    </center>
</section>












<!--==========================
  Contact Section
  ============================-->
<a href="/users/verificar/<%=dbUserQ[0].correo%>,<%=dbUserQ[0].contrasena%>" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<%- include ../layouts/pieEditar.ejs %>